/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.nav_wrapper{
  background-color: #000000;
  height: 4rem;
  min-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.search_input{
  height: 19px;
  width: 170px;
  border: solid;
  border-radius: 3px;
  margin: 10px;
}
.icon-container{
  padding: 10px;
  margin-top: 7px;
  gap: 4rem;
  
}
.categories_wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(218, 228, 217);
  height: 3rem;
  padding-right: 3rem;
  gap: 1rem;
}

.category-button{
  height: 2rem;
  width: 10rem;
  background-color: transparent;
  font-size: 13px;
  color: #000000;
  border-radius: 4px;
  border-width: 1px;
  outline: none;
  cursor: pointer;
}


.main-container{
  display: flex;
  flex-direction: row;
  min-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.div-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  height: 19rem;
  width: 25rem;
  background-color: transparent;
  border: 1px solid black;
}
.img-style{
  height: 10rem;
  width: 11rem;
  margin-top: 10px;
}
.title{
  font-size: 15px;
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  text-align: center;
}
.price{
  font-size: 16px;
  font-family: "Roboto";
  font-weight: normal;
  color: blue;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
